<!DOCTYPE html>
<html lang="en">
<head>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/login.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Roboto:500' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/wordart.css">

  <title></title>
</head>
<body>
  <div class = "container">
  <header>
  <%= erb :_top_nav %>
  </header>
  <%= yield %>
</div>
</body>
</html>
