<h1>This is what people think about bathrooms in <span class="wordart" title="<%=@location.name%>"><%= @location.name %></span></h1>

<ul>
  <% @bathroom_scores.each do |bathroom| %>
  <li><%= bathroom[0].specific_location %>: <%=bathroom[1]%> </li>
  <% end %>
</ul>

