<form class="form-signup" action='/signup' method='post'>
  <h2 class="form-signin-heading">Add a Review</h2>
  <textarea cols="40" rows="5" name="myname">
	</textarea>
  <div id="rating">
    <input type="radio" class="radio_rating" name="emotion" id="up"/>
        <label for="up"><img src="/img/thumb_up.png" alt="Bueno" /></label>

    <input type="radio" class="radio_rating" name="emotion" id="down" />
        <label for="down"><img src="/img/thumb_down.png" alt="No Bueno" /></label>
	</div>
  <button class="btn btn-large btn-primary" type="submit">Add Rating</button>
</form>
